.partners {
  padding: 108px 0;

  @include mobile {
    padding: 66px 0;
  }

  @include small-mobile {
    padding: 46px 0;
  }

  &__container {
    @include flex-all-between;
    min-width: 0;
    max-width: 1110px;

    @include small-tablet {
      // flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }
  }

  &__title {
    font-weight: 500;
    line-height: 178%;
    color: var(--neutral-color-150);

    @include small-tablet {
      margin-bottom: 40px;
    }

    @include mobile {
      margin-bottom: 20px;
    }

    &-num {
      display: block;
      margin-bottom: 16px;
      font-weight: 600;
      letter-spacing: -0.04em;
      color: var(--neutral-color-100);

      @include small-tablet {
        margin-bottom: 10px;
      }
    }
  }

  &__slider-wrapper {
    gap: 10px 30px;
    flex-wrap: wrap;
    justify-content: center;

    @include mobile {
      gap: 10px;
    }
  }

  &-item {
    @include flex-all-center;
    border-radius: 16px;
    width: 160px;
    height: 90px;
    background-color: #fff;

    @include mobile {
      transform: scale(0.8);
    }
  }

  &__slide {
    &.swiper-slide {
      width: auto;

      @include small-tablet {
        width: 100%;
      }
    }
  }

  &-wrapper {
    gap: 10px 30px;
    flex-wrap: wrap;
    justify-content: center;

    @include tablet {
      column-gap: 0;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  }
}
